
$primary : #0071e1;
$secondary : #fd6a02;

// Body
$body-bg: #f8fafc;
$body-color: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Headings
$h1-font-size:  $font-size-base * 2.5 !default;
$h2-font-size:  $font-size-base * 2 !default;
$h3-font-size:  $font-size-base * 1.75 !default;
$h4-font-size:  $font-size-base * 1.5 !default;
$h5-font-size:  $font-size-base * 1.25 !default;
$h6-font-size:  $font-size-base !default;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blueSecondary : #73b3ee;
$darkGrey : #282828;
$lightGrey : #7c8185;

$font-family-sans-serif: "Rajdhani", sans-serif;
$headings-font-family: "Audiowide", sans-serif;

// Form
$input-bg:  $darkGrey;
$input-border-color: $darkGrey;
$input-color: #fff;
$input-placeholder-color: #bebebe;