
$primary : #0071e1;
$secondary : #fd6a02;

// Body
$body-bg: #f8fafc;
$body-color: #FFF;

  // Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blueSecondary : #73b3ee;
$darkGrey : #282828;
$lightGrey : #7c8185;

$font-family-sans-serif: "Rajdhani", sans-serif;
$headings-font-family: "Rajdhani", sans-serif;

