
.admin {
  background-color: #fff !important;
  color: #111;
  section a{
    color: #111;
  }
  .listProduct {
    border-radius: 4px;
    overflow: hidden;

  }
  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  table{
    color: #111;
  }
  thead {
    background: #aaa;
    font-size: 1.3rem;
  }

  thead tr th {
    border-top: 0 !important;;
  }

  tbody tr:nth-child(even) {
    background: #d0d0d0;

    &:hover {
      background: #c0c0c0;
    }
  }

  tbody tr:nth-child(odd) {
    background: #d9d9d9;

    &:hover {
      background: #c9c9c9;
    }
  }

  .fa {
    padding: 5px;
    border-radius: 4px;
  }

  .fa-search {
    background: #1d643b;
  }

  .fa-pencil-square-o {
    background: #b14a01;
  }

  .fa-trash-o {
    background: #761b18;
    color: #fff;
    padding: 5px 0.4rem;
  }

  button.noStyle {
    border: 0;
    padding: 0;
    background: none;
    color:#111;
  }
  .toolbox {
    a:hover {
      text-decoration: none;
    }
    li{
      margin-bottom: 0.5rem;
    }
  }

  /**
  View admin.product.edit
   */
  .editProduct h2{
    margin-top: 0.5rem;
  }
  .editProduct input:not(.btn) {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #666;
    width: 100%;
    color: #111;
    padding: 1rem;
    &::placeholder {
      color: rgba(0,0,0, 0.6);
    }
  }
  .product-price {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight:  500;
  }
  .editProduct .product-price{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #666;
    background: $primary;
    float: none;
    width: 100%;
    margin: 1.5rem 0;
    box-shadow: none;
  }
  .editProduct  .price {
    border: 0 !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    width: auto !important;
    padding: 0.2rem !important;
  }
  .editProduct .details{
    width: 100%;
    height: 300px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #666;
    color: #111;
    padding: 1rem;

    &::placeholder {
      color: rgba(0,0,0, 0.6);
    }
  }
  .page-link{
    color: #666;
  }
  .editProduct input.w-40{
    width:40%;
  }

  .is-invalid{
    border:1px solid #880000 !important;
  }


  .toolButtons {
    position: fixed;
    bottom: 0px;
    background: rgba(0,0,0,0.4);
    border-top:1px solid #666;
    padding: 4px;
    padding-bottom:15px;
  }
}