
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header';
@import 'footer';
@import 'home';
@import 'product';
@import 'cart';




body {
  background-color:black;
}

h2{
  margin-top: 3rem;
}