table.cart, table.price{
  background: #222;
  /*box-shadow: 0 0 10px 1px $primary ;*/
  font-size: 1.1rem;
}
.table.cart thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #555;
}
.table.cart th, .table.cart td  {
  border-top: 0px solid #555;
}
.table.cart tbody tr:hover{
  background: #2c2c2c;
}
table.price tr:first-child th, table.price tr:first-child td {
  border-top: 0px solid #555;
}
table.price th, table.price td  {
  border-top: 1px solid #555;
}
table.cart .thumbnail{
  width: 120px;
  height: auto;
}
table.cart select{
  background: #393939;
}
table.cart .productDelete {
  padding: 4px 10px;
  margin-left: 1rem;
  border-radius:4px;
  border:0;
  background: #393939;
  color: white;
  display: flex;
  align-items: center;
}
table.cart tbody tr {
  &:hover {
    .productDelete {
      background: #222;
    }
    select {
      background: #222;
    }
  }
}
  table.cart .productDelete:hover {
    color: $primary;
  }
  table.cart .productName {
    margin-bottom: 0;

  }

  table.cart .stock{
    margin-top: 0;
    font-size: 0.9rem;
  }



.btn-link {
  color:white;
  &:hover{
    color: ddd;
    text-decoration: none;
  }
}

