footer.eg-footer {
  background: #282828;
  border-top: 80px solid #000000;
}

footer .footer-info {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 1px solid #7c8185;
  padding-left: 50%;

}

footer .footer-info-about {
  padding-left: 50%;
  font-size: 16px;

}

footer .footer-info a{
  color: #7c8185;

}

footer .footer-info-about a{
  color: #7c8185;

}

footer .fa:not(.fa-copyright){
  color: #0071e1;
}

footer.eg-footer .copyright {
  margin-top: 15px;
  background: #000000;
  padding: 7px 0;
  color: #7c8185;

}

footer.eg-footer .copyright p {

}