header{
  background: #000 url("/assets/images/background.jpg") no-repeat 20rem -50rem ;
  border-bottom: 1px solid #666;
}

.navbar{
  padding: 0;
  vertical-align: bottom;
}
.navbar-brand{
  padding: 0.5rem;
}
#navbar{
  padding-bottom: 0.5rem;
}
.nav-link{
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
}
.nav-item{
  padding: 0 0.9rem;

}
.dropdown-menu{
  padding: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 0;
  margin-top: 0;
}
.nav-item.dropdown.show{
  background: rgba(0, 0, 0, 0.8);
}
.dropdown-item {
  color: #f8f9fa;
  padding: 1rem;
}



/*Search area*/